﻿@using System.Reflection.Metadata
@using aspcoreproject.Models
@using aspcoreproject.Services
@using Microsoft.AspNetCore.Components.Forms
@inject IProductService ProductService

<EditForm Model="@product" OnSubmit="@OnHandleSubmit">
    <div class="form-group row">
        <label for="inputTitle" class="col-4 col-form-label">Title</label>
        <div class="col-8">
            <InputText id="inputTitle" name="inputTitle" placeholder="Title" type="text" @bind-Value="product.Title" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDescription" class="col-4 col-form-label">Description</label>
        <div class="col-8">
            <InputText @bind-Value="product.Description" id="inputDescription" name="inputDescription" placeholder="Description" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputAuthor" class="col-4 col-form-label">Author</label>
        <div class="col-8">
            <InputText @bind-Value="product.Author" id="inputAuthor" name="inputAuthor" placeholder="John Smith" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputAuthor" class="col-4 col-form-label">Image</label>
        <div class="col-8">
            <InputText @bind-Value="product.Image" id="inputImage" name="inputImage" placeholder="www.image.jpg" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPrice" class="col-4 col-form-label">Price</label>
        <div class="col-8">
            <InputNumber @bind-Value="product.Price" id="inputPrice" name="inputPrice" placeholder="500" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button type="submit" data-toggle="modal" data-target="#addProductModal" class="btn btn-primary" style="text-align: center">Submit</button>
        </div>
    </div>
</EditForm>

@if (product.Title != string.Empty)
{
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">ProductAdded</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    Product product = new Product();

    void OnHandleSubmit()
    {
        ProductService.CreateProduct(product);
    }
}


