﻿@using aspcoreproject.Services
@using Microsoft.AspNetCore.Components.Web

@inject IProductService ProductService


@foreach (var product in ProductService.GetProducts())
{
    <h4 class="list-group-item">@product.Title</h4>
    <h4 class="list-group-item">@product.Description</h4>
    <small class="text-muted">
        <button @onclick="(e => DeleteProduct(product.Id))" class="btn btn-primary">Delete</button>
        @*<button @onclick="(e => EditProduct(product.Id))" class="btn btn-primary">Delete</button>*@
    </small>
}


@code
{
    void DeleteProduct(int id)
    {
        ProductService.DeleteProduct(id);
    }
}

