﻿@using Microsoft.AspNetCore.Components.Web
@using aspcoreproject.Models
@using aspcoreproject.Services
@inject IProductService ProductService


<div class="card-columns">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image: url(@product.Image);"></div>
            <div class="card-body" style="height: auto">
                <h2>@product.Title</h2>
                <h4 class="card-subtitle mb-2 text-muted">Now only £@product.Price</h4>
                <h4 class="card-subtitle mb-2 text-muted">Seller: @product.Author</h4>
                <h6>@product.Description</h6>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e=> SelectProduct(product.Id))" data-toggle="modal"  data-target="#productModal" class="btn btn-primary" style="text-align: center">View More</button>
                    </small>
                </div>
            </div>
        </div>
    }
</div>

@if (_selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@_selectedProduct.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@_selectedProduct.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@_selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
}


@code {
    Product _selectedProduct;

    void SelectProduct(int id)
    {
        _selectedProduct = ProductService.GetProducts().First(p => p.Id == id);
        //return product;
    }

}