﻿@page
@using aspcoreproject.Components
@model AddProductModel
@{
    ViewData["Title"] = "Add Product";
}

@(await Html.RenderComponentAsync<AddProduct>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>