﻿@page
@using aspcoreproject.Components
@model EditProductsModel
@{
    ViewData["Title"] = "Edit Products";
}

@(await Html.RenderComponentAsync<EditProducts>(RenderMode.ServerPrerendered))

    <script src="_framework/blazor.server.js"></script>