﻿@page
@using aspcoreproject.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>


